<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<% if user_signed_in? && current_user.meeting_books.any? %>
  <% current_user.meeting_books.each do |meeting| %>
    <div class="alert alert-info" role="alert">
      <%= meeting.book.id %>번 책과 데이트 중
      <%= simple_form_for meeting do |f| %>
        <%= f.hidden_field :end_datetime, value: Time.now %>
        <%= f.submit "데이트 끝내기", class: "btn btn-default" %>
      <% end %>
    </div>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.user.name %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
