<p id="notice"><%= notice %></p>

<h3><%= @book.id %> - <%= @book.tag_list %></h3>

<p>주선자: <%= @book.user.name %></p>

<% if @book.available? %>
	<%= simple_form_for @meeting do |f| %>
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :book_id %>
		<%= f.submit "데이트 시작하기", class: "btn btn-success" %>
	<% end %>
<% end %>

<% @book.meetings.each do |meeting| %>
	<div>
		<%= meeting.user.name %> - <%= meeting.start_datetime %> - <%= meeting.start_datetime + 21.days %>
	</div>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
